@charset "UTF-8";
/***
  * style.css Copyright © 2021 YourOnly.One
  *
  * Licenses: [1] MIT/Expat License; [2] MPL v2.0; [3] LGPLv3
  * 
  * LICENSE: MIT License / Expat License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  * 
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  * 
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
  *
  * LICENSE: Mozilla Public License Version 2.0 ("MPL 2.0")
  *   This Source Code Form is subject to the terms of the Mozilla Public
  *   License, v. 2.0. If a copy of the MPL was not distributed with this
  *   file, You can obtain one at http://mozilla.org/MPL/2.0/.
  *
  * LICENSE: GNU LESSER GENERAL PUBLIC LICENSE Version 3 ("LGPLv3")
  *   This program is free software: you can redistribute it and/or modify
  *   it under the terms of the Lesser GNU General Public License as published by
  *   the Free Software Foundation, either version 3 of the License, or
  *   (at your option) any later version.
  *
  *   This program is distributed in the hope that it will be useful,
  *   but WITHOUT ANY WARRANTY; without even the implied warranty of
  *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  *   Lesser GNU General Public License for more details.
  *
  *   You should have received a copy of the Lesser GNU General Public License
  *   along with this program.  If not, see <http://www.gnu.org/licenses/>.
***/

/*************************
** BGN: Global Settings **
*************************/
  :root, html, * {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none; /* Browser hyphenation algorithm is incorrect. Turn-off globally. */
    word-wrap: break-word; /* But keep word-wrap "on" to allow wrapping of very long words. */
  }
/*************************
** END: Global Settings **
*************************/

/******************************************************************************/
/******************************************************************************/

/************************
** BGN: COMMON CLASSES **
************************/
  /*** BGN: Alignments ***/
    html body .grid_center.grid_center.grid_center {
      margin-left: auto;
      margin-right: auto;
      -webkit-margin-start: auto;
              margin-inline-start: auto;
      -webkit-margin-end: auto;
              margin-inline-end: auto;
    }
  /*** END: Alignments ***/

  /*** BGN: Yuki footer ***/
    .global_footer {
      align-items: end;
      display: -ms-grid;
      display: grid;
      grid-gap: 0.35rem;
          grid-template-areas: "best_viewed best_viewed best_viewed"
                           "menu_footer menu_footer menu_footer"
                           ". cc_icons ."
                           "ypub copyleft gfiles";
      -ms-grid-columns: auto 0.35rem 8fr 0.35rem auto;
      grid-template-columns: auto 8fr auto;
      -ms-grid-rows: auto 0.35rem auto 0.35rem auto 0.35rem auto;
      grid-template-rows: repeat(4, auto);
      font-size: 80%;
    }
    .global_footer div.menu_footer {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
      grid-area: menu_footer;
    }
    .global_footer div.cc_icons {
      -ms-grid-row: 5;
      -ms-grid-column: 3;
      grid-area: cc_icons;
    }
    .global_footer div.ypub {
      -ms-grid-row: 7;
      -ms-grid-column: 1;
      grid-area: ypub;
    }
    .global_footer div.copyleft {
      -ms-grid-row: 7;
      -ms-grid-column: 3;
      grid-area: copyleft;
    }
    .global_footer div.gfiles {
      -ms-grid-row: 7;
      -ms-grid-column: 5;
      grid-area: gfiles;
    }
    .global_footer a {
      text-decoration: none;
    }
    /* Copyleft */
    .copyleft, .copyleft a {
      -webkit-text-decoration-line: none;
              text-decoration-line: none;
    }
  /*** END: Yuki footer ***/
/************************
** END: COMMON CLASSES **
************************/

/*************************
** BGN: Ruby Annotation **
*************************/
  /**
    * Sample:
    *
    * <ruby>
    *   <rbc>
    *     <rb lang="hbo-Latn">Yahuhanan</rb>
    *     <rb lang="ja-Latn">Yukia</rb>
    *     <rb lang="fil">Sese</rb>
    *     <rb lang="fil">Cuneta</rb>
    *   </rbc>
    *   <rtc class="reading rtc_over">
    *     <rp>(</rp><rt lang="he">יהוחנן</rt><rp>)</rp>
    *     <rp>(</rp><rt lang="ja">雪亮</rt><rp>)</rp>
    *     <rp>(</rp><rt lang="zh">謝</rt><rp>)</rp>
    *   </rtc>
    *   <rtc class="reading rtc_over">
    *     <rt></rt>
    *     <rp>(</rp><rt lang="ja">ゆきあ</rt><rp>)</rp>
    *   </rtc>
    *   <rtc class="rtc_under">
    *     <rt></rt>
    *     <rp>(</rp><rt lang="zh-Latn">Xuěliàng</rt><rp>)</rp>
    *     <rp>(</rp><rt lang="zh-Latn">Xie</rt><rp>)</rp>
    *   </rtc>
    * </ruby>
    *
  **/

  /**
    * Sample #2: As of 2021-02-08 we have to use this format to ensure Ruby will render correctly in Chromium-based browsers (lack of support)
    *
    * NOTE: If more than one annotation (or ruby nesting), remove all whitespace after the closing </ruby>.
    *
    * <ruby>
    *   <rbc>
    *     <rb>Yahuhanan</rb>
    *   </rbc>
    *   <rp>(</rp><rt xml:lang="he" lang="he">יהוחנן</rt><rp>)</rp>
    * </ruby>
    * <ruby>
    *   <ruby>
    *     <ruby>
    *       <rbc>
    *         <rb xml:lang="ja-Latn" lang="ja-Latn">Yukia</rb>
    *       </rbc>
    *       <rp>(</rp><rt xml:lang="ja-Hani" lang="ja-Hani">雪亮</rt><rp>)</rp>
    *     </ruby><rp>(</rp><rt xml:lang="ja-Hira" lang="ja-Hira">ゆきあ</rt><rp>)</rp>
    *   </ruby><!-- <rp>(</rp><rt xml:lang="zh-Latn" lang="zh-Latn">Xuěliàng</rt><rp>)</rp> --> <!-- This should be rtc_under but the serious bug in Chromium-based browsers is blocking us from doing this correctly. -->
    * </ruby>
    * <ruby>
    *   <ruby>
    *     <rbc>
    *       <rb xml:lang="fil" lang="fil">Sese</rb>
    *     </rbc>
    *     <rp>(</rp><rt xml:lang="zh" lang="zh">謝</rt><rp>)</rp>
    *   </ruby><rp>(</rp><rt xml:lang="zh-Latn" lang="zh-Latn">Xie</rt><rp>)</rp>
    * </ruby>
    * <ruby>
    *   <rbc>
    *     <rb>Cuneta</rb>
    *   </rbc>
    *   <rp>(</rp><rt xml:lang="tl-Tglg" lang="tl-Tglg">ᜃᜓᜈᜒᜆ</rt><rp>)</rp>
    * </ruby>
  **/

  /**
    * We are declaring most of these due to lack of support in other browsers.
    * Once CSS Ruby is fully supported, we can remove these base declarations.
  **/
  ruby {
    display: ruby; /* generate a ruby container box */
  }

  rbc {
    display: ruby-base-container; /* generate a ruby base container box */
  }
  rb {
    display: ruby-base; /* generate a ruby base box */
  }

  /*
    * There is a serious bug in Blink (used by Chromium-based browsers) related to the <rt> element.
    *   - If an <rt> element has a parent other than <ruby>, Blink is failing to style it even with !important
  */
  rtc {
    display: ruby-text-container; /* generate a ruby annotation container box */
  }
  rt {
    display: ruby-text; /* generate a ruby annotation box */
  }

  ruby, rbc, rb, rtc, rt {
    font-variant-east-asian: ruby;
    -webkit-text-emphasis: none;
            text-emphasis: none;
    white-space: nowrap;
    line-height: 1;
    text-transform: full-size-kana;
    ruby-align: center; /* better presentation */
  }

  /* ruby-align only applies to <rbc>, <rb>, <rtc>, and <rt> */
  .ruby_spacearound { /* initial value, declared in case we need override */
    ruby-align: space-around;
  }
  .ruby_center { /* our default for better presentation */
    ruby-align: center;
  }
  .ruby_spacebetween {
    ruby-align: space-between;
  }
  .ruby_start {
    ruby-align: start;
  }

  /* ruby-position only applies to <rtc> */
  .rtc_over {
    ruby-position: over;
  }
  .rtc_under {
    ruby-position: under;
  }
  .rtc_intercharacter {
    ruby-position: inter-character;
  }
  .rtc_left {
    ruby-position: left;
  }
  .rtc_right {
    ruby-position: right;
  }
/*************************
** END: Ruby Annotation **
*************************/

/******************************************************************************/
/******************************************************************************/

/*************************************************
** BGN: Colours for Backgrounds, Lists, & Texts **
*************************************************/
  /**
    * Custom List Style notes:
    *   1. To make colour override work in custom_liststyle
    *       we have to separate the LI-level colours.
    *   2. Chained classes for custom_liststyle is not an option.
    *       It will color the text as well.
    *
    * TEXT colour note:
    *   1. Generic class names like .red, .green, and .blue are not advisable.
    *       These are too common, other CSS files might be using the same.
  **/
  /* BGN: Generic colours */
    .text-black {
      color: hsla(0deg, 0%, 0%, 100%);
      color: hwb(0deg, 0%, 100%, 100%);
    }
    .text-white {
      color: hsla(0deg, 0%, 100%, 100%);
      color: hwb(0deg, 100%, 0%, 100%);
    }
    .text-red {
      color: hsla(0deg, 100%, 50%, 100%);
      color: hwb(0deg, 0%, 0%, 100%);
    }
    .text-lime {
      color: hsla(120deg, 100%, 50%, 100%);
      color: hwb(120deg, 0%, 0%, 100%);
    }
    .text-green {
      color: hsla(120deg, 100%, 25%, 100%);
      color: hwb(120deg, 0%, 50%, 100%);
    }
    .text-blue {
      color: hsla(240deg, 100%, 50%, 100%);
      color: hwb(240deg, 0%, 0%, 100%);
    }
    .text-aqua,
    .text-cyan {
      color: hsla(180deg, 100%, 50%, 100%);
      color: hwb(180deg, 0%, 0%, 100%);
    }
    .text-fuchsia,
    .text-magenta {
      color: hsla(300deg, 100%, 50%, 100%);
      color: hwb(300deg, 0%, 0%, 100%);
    }
    .text-yellow {
      color: hsla(60deg, 100%, 50%, 100%);
      color: hwb(60deg, 0%, 0%, 100%);
    }
    .text-orange {
      color: hsla(39deg, 100%, 50%, 100%);
      color: hwb(39deg, 0%, 0%, 100%);
    }
    .text-gold {
      color: hsla(51deg, 100%, 50%, 100%);
      color: hwb(51deg, 0%, 0%, 100%);
    }
    .text-pink {
      color: hsla(350deg, 100%, 88%, 100%);
      color: hwb(350deg, 75%, 0%, 100%);
    }
    .text-brown {
      color: hsla(26deg, 32%, 54%, 100%);
      color: hwb(26deg, 39%, 31%, 100%);
    }
    .text-brown {
      color: hsla(27deg, 35%, 51%, 100%);
      color: hwb(27deg, 34%, 31%, 100%);
    }
  /* END: Generic colours */

  /* BGN: Brand colours */
    .text-facebook {
      color: hsla(220deg, 46%, 48%, 100%);
      color: hwb(220deg, 26%, 30%, 100%);
    }
    .text-twitter {
      color: hsla(203deg, 78%, 49%, 100%);
      color: hwb(203deg, 11%, 12%, 100%);
    }
    .text-googleplus {
      color: hsla(5deg, 69%, 54%, 100%);
      color: hwb(5deg, 22%, 14%, 100%);
    }
    .text-ubuntu {
      color: hsla(16deg, 82%, 52%, 100%);
      color: hwb(16deg, 13%, 9%, 100%);
    }
    .text-mastodon {
      color: hsla(205deg, 70%, 51%, 100%);
      color: hwb(205deg, 17%, 15%, 100%);
    }
    .text-hubzilla {
      color: hsla(236deg, 35%, 40%, 100%);
      color: hwb(236deg, 26%, 46%, 100%);
    }
  /* END: Brand colours */

  /* BGN: Special custom colours */
    .text-cm, .text-gm, .text-cgm {
      color: hsla(210deg, 100%, 50%, 100%);
      color: hwb(210deg, 0%, 0%, 100%);
      font-weight: bold;
    }
  /* END: Special custom colours */
/*************************************************
** END: Colours for Backgrounds, Lists, & Texts **
*************************************************/
