@charset "UTF-8";
/***
  * style.css Copyright © 2021-2023 YourOnly.One
  *
  * Licenses: [1] MIT/Expat License; [2] MPL v2.0; [3] LGPLv3
  *
  * LICENSE: MIT License / Expat License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
  *
  * LICENSE: Mozilla Public License Version 2.0 ("MPL 2.0")
  *   This Source Code Form is subject to the terms of the Mozilla Public
  *   License, v. 2.0. If a copy of the MPL was not distributed with this
  *   file, You can obtain one at http://mozilla.org/MPL/2.0/.
  *
  * LICENSE: GNU LESSER GENERAL PUBLIC LICENSE Version 3 ("LGPLv3")
  *   This program is free software: you can redistribute it and/or modify
  *   it under the terms of the Lesser GNU General Public License as published by
  *   the Free Software Foundation, either version 3 of the License, or
  *   (at your option) any later version.
  *
  *   This program is distributed in the hope that it will be useful,
  *   but WITHOUT ANY WARRANTY; without even the implied warranty of
  *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  *   Lesser GNU General Public License for more details.
  *
  *   You should have received a copy of the Lesser GNU General Public License
  *   along with this program.  If not, see <http://www.gnu.org/licenses/>.
***/

/*************************
** BGN: Global Settings **
*************************/
  :root {
    /* BLACK */
      --color-black-bg: hwb(0 100% 0% / 0.5);
      --color-black-bg: lch(100% 0 139.088 / 0.5);
      --color-black-bg: oklch(100% 0 0 / 0.5);
      --color-black: hwb(0 100% 0%);
      --color-black: lch(100% 0 139.088);
      --color-black: oklch(100% 0 0);

    /* GREY LIGHT */
      --color-grey-light-bg: hwb(0 83% 17% / 0.5);
      --color-grey-light-bg: lch(84.556% 0 139.088 / 0.5);
      --color-grey-light-bg: oklch(86.69% 0 0 / 0.5);
      --color-grey-light: hwb(0 83% 17%);
      --color-grey-light: lch(84.556% 0 139.088);
      --color-grey-light: oklch(86.69% 0 0);

    /* SILVER */
      --color-silver-bg: hwb(0 75% 25% / 0.5);
      --color-silver-bg: lch(77.704% 0 139.088 / 0.5);
      --color-silver-bg: oklch(80.78% 0 0 / 0.5);
      --color-silver: hwb(0 75% 25%);
      --color-silver: lch(77.704% 0 139.088);
      --color-silver: oklch(80.78% 0 0);

    /* WHITE */
      --color-white-bg: hwb(0 0% 100% / 0.5);
      --color-white-bg: lch(0% 0 0 / 0.5);
      --color-white-bg: oklch(0% 0 0 / 0.5);
      --color-white: hwb(0 0% 100%);
      --color-white: lch(0% 0 0);
      --color-white: oklch(0% 0 0);

    /* RED */
      --color-red-bg: hwb(0 0% 0% / 0.5);
      --color-red-bg: lch(54.291% 106.83719104365966 40.85766878213079 / 0.5);
      --color-red-bg: oklch(62.8% 0.25768330773615683 29.2338851923426 / 0.5);
      --color-red: hwb(0 0% 0%);
      --color-red: lch(54.291% 106.83719104365966 40.85766878213079);
      --color-red: oklch(62.8% 0.25768330773615683 29.2338851923426);

    /* LIME */
      --color-lime-bg: hwb(120 0% 0% / 0.5);
      --color-lime-bg: lch(87.819% 113.32 134.38 / 0.5);
      --color-lime-bg: oklch(86.64% 0.2948272403370167 142.49533888780996 / 0.5);
      --color-lime: hwb(120 0% 0%);
      --color-lime: lch(87.819% 113.32 134.38);
      --color-lime: oklch(86.64% 0.2948272403370167 142.49533888780996);

    /* GREEN */
      --color-green-bg: hwb(120 0% 50% / 0.5);
      --color-green-bg: lch(46.278% 67.984 134.384 / 0.5);
      --color-green-bg: oklch(51.98% 0.17685825418032033 142.49533888780994 / 0.5);
      --color-green: hwb(120 0% 50%);
      --color-green: lch(46.278% 67.984 134.384);
      --color-green: oklch(51.98% 0.17685825418032033 142.49533888780994);

    /* BLUE */
      --color-blue-bg: hwb(240 0% 0% / 0.5);
      --color-blue-bg: lch(29.568% 131.1854613942089 301.36428148973533 / 0.5);
      --color-blue-bg: oklch(45.2% 0.31321437166460125 264.052020638055 / 0.5);
      --color-blue: hwb(240 0% 0%);
      --color-blue: lch(29.568% 131.1854613942089 301.36428148973533);
      --color-blue: oklch(45.2% 0.31321437166460125 264.052020638055);

    /* INDIGO DYE*/
      --color-indigo-dye-bg: hwb(203.208 0% 58% / 0.5);
      --color-indigo-dye-bg: lch(25.753% 30.080379743730905 259.49712579751815 / 0.5);
      --color-indigo-dye-bg: oklch(36.26% 0.091 244.97 / 0.5);
      --color-indigo-dye: hwb(203.208 0% 58%);
      --color-indigo-dye: lch(25.753% 30.080379743730905 259.49712579751815);
      --color-indigo-dye: oklch(36.26% 0.091 244.97);

    /* BLUE MIDNIGHT */
      --color-blue-midnight-bg: hwb(240 10% 56% / 0.5);
      --color-blue-midnight-bg: lch(14.929% 57.139 297.016 / 0.5);
      --color-blue-midnight-bg: oklch(28.81% 0.144 272.76 / 0.5);
      --color-blue-midnight: hwb(240 10% 56%);
      --color-blue-midnight: lch(14.929% 57.139 297.016);
      --color-blue-midnight: oklch(28.81% 0.144 272.76);

    /* AQUA / CYAN */
      --color-cyan-bg: hwb(180 0% 0% / 0.5);
      --color-cyan-bg: lch(90.666% 52.81982158149982 196.45478245011327 / 0.5);
      --color-cyan-bg: oklch(90.54% 0.15455001106436891 194.76894793196382 / 0.5);
      --color-cyan: hwb(180 0% 0%);
      --color-cyan: lch(90.666% 52.81982158149982 196.45478245011327);
      --color-cyan: oklch(90.54% 0.15455001106436891 194.76894793196382);

    /* FUCHSIA / MAGENTA */
      --color-magenta-bg: hwb(300 0% 0% / 0.5);
      --color-magenta-bg: lch(60.169% 111.38659434373716 327.1054738802461 / 0.5);
      --color-magenta-bg: oklch(70.17% 0.322 328.36 / 0.5);
      --color-magenta: hwb(300 0% 0%);
      --color-magenta: lch(60.169% 111.38659434373716 327.1054738802461);
      --color-magenta: oklch(70.17% 0.322 328.36);

    /* YELLOW */
      --color-yellow-bg: hwb(60 0% 0% / 0.5);
      --color-yellow-bg: lch(97.607% 94.712 99.57226374240976 / 0.5);
      --color-yellow-bg: oklch(96.8% 0.21100590772552355 109.76923207652125 / 0.5);
      --color-yellow: hwb(60 0% 0%);
      --color-yellow: lch(97.607% 94.712 99.57226374240976);
      --color-yellow: oklch(96.8% 0.21100590772552355 109.76923207652125);

    /* ORANGE */
      --color-orange-bg: hwb(38.824 0% 0% / 0.5);
      --color-orange-bg: lch(75.59% 83.7587948421583 70.82367779707081 / 0.5);
      --color-orange-bg: oklch(79.27% 0.171 70.67 / 0.5);
      --color-orange: hwb(38.824 0% 0%);
      --color-orange: lch(75.59% 83.7587948421583 70.82367779707081);
      --color-orange: oklch(79.27% 0.171 70.67);

    /* GOLD */
      --color-gold-bg: hwb(50.588 0% 0% / 0.5);
      --color-gold-bg: lch(87.468% 86.59103759455243 88.07454203103275 / 0.5);
      --color-gold-bg: oklch(88.68% 0.182 95.33 / 0.5);
      --color-gold: hwb(50.588 0% 0%);
      --color-gold: lch(87.468% 86.59103759455243 88.07454203103275);
      --color-gold: oklch(88.68% 0.182 95.33);

    /* PINK */
      --color-pink-bg: hwb(349.524 75% 0% / 0.5);
      --color-pink-bg: lch(83.787% 24.724253984206204 8.745997286616099 / 0.5);
      --color-pink-bg: oklch(86.77% 0.07354199863627744 7.08551427339547 / 0.5);
      --color-pink: hwb(349.524 75% 0%);
      --color-pink: lch(83.787% 24.724253984206204 8.745997286616099);
      --color-pink: oklch(86.77% 0.07354199863627744 7.08551427339547);

    /* BROWN */
      --color-brown-bg: hwb(26 39% 31% / 0.5);
      --color-brown-bg: lch(59.04% 27.83 60.49 / 0.5);
      --color-brown-bg: oklch(64.89% 0.07 58.55 / 0.5);
      --color-brown: hwb(26 39% 31%);
      --color-brown: lch(59.04% 27.83 60.49);
      --color-brown: oklch(64.89% 0.07 58.55);

    /* BROWN MEDIUM DARK */
      --color-brown-medium-dark-bg: hwb(27 34% 32% / 0.5);
      --color-brown-medium-dark-bg: lch(56.91% 33.11 61.54 / 0.5);
      --color-brown-medium-dark-bg: oklch(63.08% 0.081 59.89 / 0.5);
      --color-brown-medium-dark: hwb(27 34% 32%);
      --color-brown-medium-dark: lch(56.91% 33.11 61.54);
      --color-brown-medium-dark: oklch(63.08% 0.081 59.89);

    /* FACEBOOK */
      --color-facebook-bg: hwb(220 26% 30% / 0.5);
      --color-facebook-bg: lch(43.93% 45.04 276.51 / 0.5);
      --color-facebook-bg: oklch(52.56% 0.126 262.79 / 0.5);
      --color-facebook: hwb(220 26% 30%);
      --color-facebook: lch(43.93% 45.04 276.51);
      --color-facebook: oklch(52.56% 0.126 262.79);

    /* TWITTER */
      --color-twitter-bg: hwb(203 11% 13% / 0.5);
      --color-twitter-bg: lch(57.88% 48.94 256.6 / 0.5);
      --color-twitter-bg: oklch(64.02% 0.148 243.45 / 0.5);
      --color-twitter: hwb(203 11% 13%);
      --color-twitter: lch(57.88% 48.94 256.6);
      --color-twitter: oklch(64.02% 0.148 243.45);

    /* GOOGLEPLUS */
      --color-googleplus-bg: hwb(5 22% 14% / 0.5);
      --color-googleplus-bg: lch(52.25% 71.66 35.83 / 0.5);
      --color-googleplus-bg: oklch(60.38% 0.187 28.96 / 0.5);
      --color-googleplus: hwb(5 22% 14%);
      --color-googleplus: lch(52.25% 71.66 35.83);
      --color-googleplus: oklch(60.38% 0.187 28.96);

    /* UBUNTU */
      --color-ubuntu-bg: hwb(16 13% 9% / 0.5);
      --color-ubuntu-bg: lch(56.93% 81.53 46.27 / 0.5);
      --color-ubuntu-bg: oklch(64.26% 0.193 38.26 / 0.5);
      --color-ubuntu: hwb(16 13% 9%);
      --color-ubuntu: lch(56.93% 81.53 46.27);
      --color-ubuntu: oklch(64.26% 0.193 38.26);

    /* MASTODON */
      --color-mastodon-bg: hwb(205 17% 14% / 0.5);
      --color-mastodon-bg: lch(57.02% 47.26 257.96 / 0.5);
      --color-mastodon-bg: oklch(63.31% 0.142 245.03 / 0.5);
      --color-mastodon: hwb(205 17% 14%);
      --color-mastodon: lch(57.02% 47.26 257.96);
      --color-mastodon: oklch(63.31% 0.142 245.03);

    /* HUBZILLA */
      --color-hubzilla-bg: hwb(236 26% 46% / 0.5);
      --color-hubzilla-bg: lch(32.44% 40.76 289 / 0.5);
      --color-hubzilla-bg: oklch(42.87% 0.109 277.68 / 0.5);
      --color-hubzilla: hwb(236 26% 46%);
      --color-hubzilla: lch(32.44% 40.76 289);
      --color-hubzilla: oklch(42.87% 0.109 277.68);

    /* CGM */
      --color-cgm-bg: hwb(240 50% 0% / 0.5);
      --color-cgm-bg: lch(58.2% 69.76218893179288 291.8265434122234 / 0.5);
      --color-cgm-bg: oklch(66.01% 0.184 280.08 / 0.5);
      --color-cgm: hwb(240 50% 0%);
      --color-cgm: lch(58.2% 69.76218893179288 291.8265434122234);
      --color-cgm: oklch(66.01% 0.184 280.08);

  }

  :root, html, * {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none; /* Browser hyphenation algorithm is incorrect. Turn-off globally. */
    word-wrap: break-word; /* But keep word-wrap "on" to allow wrapping of very long words. */
  }
/*************************
** END: Global Settings **
*************************/

/******************************************************************************/
/******************************************************************************/

/************************
** BGN: COMMON CLASSES **
************************/
  /*** BGN: Alignments ***/
    html body .grid_center.grid_center.grid_center {
      margin-left: auto;
      margin-right: auto;
      -webkit-margin-start: auto;
              margin-inline-start: auto;
      -webkit-margin-end: auto;
              margin-inline-end: auto;
    }
  /*** END: Alignments ***/

  /*** BGN: Yuki footer ***/
    .global_footer {
      align-items: end;
      display: -ms-grid;
      display: grid;
      grid-gap: 0.35rem;
          grid-template-areas: "best_viewed best_viewed best_viewed"
                           "menu_footer menu_footer menu_footer"
                           ". cc_icons ."
                           "ypub copyleft gfiles";
      -ms-grid-columns: auto 0.35rem 8fr 0.35rem auto;
      grid-template-columns: auto 8fr auto;
      -ms-grid-rows: auto 0.35rem auto 0.35rem auto 0.35rem auto;
      grid-template-rows: repeat(4, auto);
      font-size: 80%;
    }
    .global_footer div.menu_footer {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
      grid-area: menu_footer;
    }
    .global_footer div.cc_icons {
      -ms-grid-row: 5;
      -ms-grid-column: 3;
      grid-area: cc_icons;
    }
    .global_footer div.ypub {
      -ms-grid-row: 7;
      -ms-grid-column: 1;
      grid-area: ypub;
    }
    .global_footer div.copyleft {
      -ms-grid-row: 7;
      -ms-grid-column: 3;
      grid-area: copyleft;
    }
    .global_footer div.gfiles {
      -ms-grid-row: 7;
      -ms-grid-column: 5;
      grid-area: gfiles;
    }
    .global_footer a {
      text-decoration: none;
    }
    /* Copyleft */
    .copyleft, .copyleft a {
      -webkit-text-decoration-line: none;
              text-decoration-line: none;
    }
  /*** END: Yuki footer ***/
/************************
** END: COMMON CLASSES **
************************/

/*************************
** BGN: Ruby Annotation **
*************************/
  /**
    * Sample:
    *
    * <ruby>
    *   <rbc>
    *     <rb lang="hbo-Latn">Yahuhanan</rb>
    *     <rb lang="ja-Latn">Yukia</rb>
    *     <rb lang="fil">Sese</rb>
    *     <rb lang="fil">Cuneta</rb>
    *   </rbc>
    *   <rtc class="reading rtc_over">
    *     <rp>(</rp><rt lang="he">יהוחנן</rt><rp>)</rp>
    *     <rp>(</rp><rt lang="ja">雪亮</rt><rp>)</rp>
    *     <rp>(</rp><rt lang="zh">謝</rt><rp>)</rp>
    *   </rtc>
    *   <rtc class="reading rtc_over">
    *     <rt></rt>
    *     <rp>(</rp><rt lang="ja">ゆきあ</rt><rp>)</rp>
    *   </rtc>
    *   <rtc class="rtc_under">
    *     <rt></rt>
    *     <rp>(</rp><rt lang="zh-Latn">Xuěliàng</rt><rp>)</rp>
    *     <rp>(</rp><rt lang="zh-Latn">Xie</rt><rp>)</rp>
    *   </rtc>
    * </ruby>
    *
  **/

  /**
    * Sample #2: As of 2021-02-08 we have to use this format to ensure Ruby will render correctly in Chromium-based browsers (lack of support)
    *
    * NOTE: If more than one annotation (or ruby nesting), remove all whitespace after the closing </ruby>.
    *
    * <ruby>
    *   <rbc>
    *     <rb>Yahuhanan</rb>
    *   </rbc>
    *   <rp>(</rp><rt xml:lang="he" lang="he">יהוחנן</rt><rp>)</rp>
    * </ruby>
    * <ruby>
    *   <ruby>
    *     <ruby>
    *       <rbc>
    *         <rb xml:lang="ja-Latn" lang="ja-Latn">Yukia</rb>
    *       </rbc>
    *       <rp>(</rp><rt xml:lang="ja-Hani" lang="ja-Hani">雪亮</rt><rp>)</rp>
    *     </ruby><rp>(</rp><rt xml:lang="ja-Hira" lang="ja-Hira">ゆきあ</rt><rp>)</rp>
    *   </ruby><!-- <rp>(</rp><rt xml:lang="zh-Latn" lang="zh-Latn">Xuěliàng</rt><rp>)</rp> --> <!-- This should be rtc_under but the serious bug in Chromium-based browsers is blocking us from doing this correctly. -->
    * </ruby>
    * <ruby>
    *   <ruby>
    *     <rbc>
    *       <rb xml:lang="fil" lang="fil">Sese</rb>
    *     </rbc>
    *     <rp>(</rp><rt xml:lang="zh" lang="zh">謝</rt><rp>)</rp>
    *   </ruby><rp>(</rp><rt xml:lang="zh-Latn" lang="zh-Latn">Xie</rt><rp>)</rp>
    * </ruby>
    * <ruby>
    *   <rbc>
    *     <rb>Cuneta</rb>
    *   </rbc>
    *   <rp>(</rp><rt xml:lang="tl-Tglg" lang="tl-Tglg">ᜃᜓᜈᜒᜆ</rt><rp>)</rp>
    * </ruby>
  **/

  /**
    * We are declaring most of these due to lack of support in other browsers.
    * Once CSS Ruby is fully supported, we can remove these base declarations.
  **/
  ruby {
    display: ruby; /* generate a ruby container box */
  }

  rbc {
    display: ruby-base-container; /* generate a ruby base container box */
  }
  rb {
    display: ruby-base; /* generate a ruby base box */
  }

  /*
    * There is a serious bug in Blink (used by Chromium-based browsers) related to the <rt> element.
    *   - If an <rt> element has a parent other than <ruby>, Blink is failing to style it even with !important
  */
  rtc {
    display: ruby-text-container; /* generate a ruby annotation container box */
  }
  rt {
    display: ruby-text; /* generate a ruby annotation box */
  }

  ruby, rbc, rb, rtc, rt {
    font-variant-east-asian: ruby;
    -webkit-text-emphasis: none;
            text-emphasis: none;
    white-space: nowrap;
    line-height: 1;
    text-transform: full-size-kana;
    ruby-align: center; /* better presentation */
  }

  /* ruby-align only applies to <rbc>, <rb>, <rtc>, and <rt> */
  .ruby_spacearound { /* initial value, declared in case we need override */
    ruby-align: space-around;
  }
  .ruby_center { /* our default for better presentation */
    ruby-align: center;
  }
  .ruby_spacebetween {
    ruby-align: space-between;
  }
  .ruby_start {
    ruby-align: start;
  }

  /* ruby-position only applies to <rtc> */
  .rtc_over {
    ruby-position: over;
  }
  .rtc_under {
    ruby-position: under;
  }
  .rtc_intercharacter {
    ruby-position: inter-character;
  }
  .rtc_left {
    ruby-position: left;
  }
  .rtc_right {
    ruby-position: right;
  }
/*************************
** END: Ruby Annotation **
*************************/

/******************************************************************************/
/******************************************************************************/

/*************************************************
** BGN: Colours for Backgrounds, Lists, & Texts **
*************************************************/
  /**
    * Custom List Style notes:
    *   1. To make colour override work in custom_liststyle
    *       we have to separate the LI-level colours.
    *   2. Chained classes for custom_liststyle is not an option.
    *       It will color the text as well.
    *
    * TEXT colour note:
    *   1. Generic class names like .red, .green, and .blue are not advisable.
    *       These are too common, other CSS files might be using the same.
  **/
  /* BGN: Generic colours */
    .text-black {
      color: var(--color-black);
    }
    .text-white {
      color: var(--color-white);
    }
    .text-red {
      color: var(--color-red);
    }
    .text-lime {
      color: var(--color-lime);
    }
    .text-green {
      color: var(--color-green);
    }
    .text-blue {
      color: var(--color-blue);
    }
    .text-aqua,
    .text-cyan {
      color: var(--color-cyan);
    }
    .text-fuchsia,
    .text-magenta {
      color: var(--color-magenta);
    }
    .text-yellow {
      color: var(--color-yellow);
    }
    .text-orange {
      color: var(--color-orange);
    }
    .text-gold {
      color: var(--color-gold);
    }
    .text-pink {
      color: var(--color-pink);
    }
    .text-brown {
      color: var(--color-brown);
    }
    .text-mediumdarkbrown {
      color: var(--color-brown-medium-dark);
    }
  /* END: Generic colours */

  /* BGN: Brand colours */
    .text-facebook {
      color: var(--color-facebook);
    }
    .text-twitter {
      color: var(--color-twitter);
    }
    .text-googleplus {
      color: var(--color-googleplus);
    }
    .text-ubuntu {
      color: var(--color-ubuntu);
    }
    .text-mastodon {
      color: var(--color-mastodon);
    }
    .text-hubzilla {
      color: var(--color-hubzilla);
    }
  /* END: Brand colours */

  /* BGN: Special custom colours */
    .text-cm, .text-gm, .text-cgm {
      color: var(--color-cgm);
      font-weight: bold;
    }
    .text-guide {
      color: var(--color-red);
      font-weight: bold;
    }
  /* END: Special custom colours */
/*************************************************
** END: Colours for Backgrounds, Lists, & Texts **
*************************************************/
